* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(assets/netflix-catalogo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: sans-serif;
  overflow-x: hidden;
  width: 100%;
}

button {
  background-color: #C11119;
  border: none;
  border-radius: 8px;
}

button a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%, 
    rgba(0, 0, 0, 0) 100%
  );
}

header img {
  width: 9rem;
  height: auto;
}

nav {
  display: flex;
  gap: 1rem;
}

select {
  background-color: #08090e00;
  color: #fff;
  font-size: 1.7rem;
  padding: .3rem 1rem .3rem 1rem;
  border: 1px solid gray;
  border-radius: 8px;
}

nav button {
  padding: 1rem 1.7rem 1rem 1.7rem;
}

@media (min-width: 1024px) {
  header img {
    width: 18rem;
  }
}